.button{
    width: 100%;
    max-width: 202px;
    padding: 17px 36px 17px 32px;
    border: 1px solid #33323D;
    box-sizing: border-box;
    font-family: 'Public Sans 400';
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #33323D;
}