.header{
    padding-top: 64px;
    padding-bottom: 94px;
    &__container{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__logo-link{
        flex-shrink: 1;
    }
    &__logo-link:hover {
        opacity: 0.8;
    }
    &__logo-link:active {
        opacity: 0.6;
    }
    &__nav{
        display: flex;
        align-items: center;
        white-space: nowrap; 
    }
    &__logo {
        display: block;
    }
    &__list {
        display: flex;
        align-items: center;
        margin: 0;
        padding: 0;
    }
    &__item + &__item {
        margin-left: 42px;
    }
    &__link {
        font-family: 'Public Sans 400';
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: #33323D;       
    }
    &__link:hover{
        color: #5FB4A2;
    }
    &__item-active{
        color: #5FB4A2;
    }
    &__hamburger{
        display: none;
        width: 24px;
        height: 13px;
        background-color: transparent;
        border: none;
        background-image: url("/images/hamburger-btn.svg");
        background-repeat: no-repeat;
        background-position: center center;
    }
}
////////////////////////  MOBILE  /////////////////////////
@media only screen and (max-width:767px){
    .header{
        padding-top: 32px;
        padding: 24px;
        position: relative;
        &__hamburger {
            display: inline-block;
        }
        &__nav {
            display: none;
        }
        &__item + &__item {
            margin-left: 0px;
        }
        &__item:not(:last-child){
            margin-bottom: 32px;
        }
    }  
    
    .header--open .header__nav {
        display: flex;
        justify-content: center;
        flex-direction: column;
        position: absolute;
        top: 100%;
        right: 0;
        width: 100%;
        max-width: 223px;
        height: 186px;
        background: #33323D;
    }
  
    .header--open .header__list {
        flex-direction: column;
    }
    .header--open .header__item{
        align-self: center;
    }
    .header--open .header__link {
        color: white;
    }
  
    .header--open .header__hamburger {
        width: 18px;
        height: 19px;
        background-image: url("../images/back-btn.svg");
    }
}